#messageInput{
    font-family: 'Cambria', 'Times New Roman', 'Arial';
    font-size: large;
    background-color: rgb(35,50,60);
    color: white;
    border: none;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 4px;
    padding-right: 0px;
    width: 90.6%;
    opacity: 0.8;
}
#messageInput:focus{
    outline: none;
    opacity: 1;
}
#messageInput::placeholder{
    color: white;
    opacity: 0.5;
    user-select: none;;
}
#messageInput:focus::placeholder{
    opacity: 0.7;
}
#messageInput:hover::placeholder{
    transition-property: opacity, display;
    transition-delay: 0.05s;
    transition-behavior: allow-discrete;
    opacity: 0.7;
}

#sendButton{
    font-family: 'Cambria', 'Times New Roman', 'Arial';
    font-weight: bold;
    background-color: hsl(204, 26%, 19%);
    color: white;
    width: 9%;
    border: none;
    padding-top: 14px;
    padding-bottom: 15px;
    opacity: 0.8;
    user-select: none;
}
#sendButton:focus{
    outline: none;
}
#sendButton:hover{
    opacity: 1;
    transition-property: background-color, display;
    transition-delay: 0.05s;
    transition-behavior: allow-discrete;
    background-color: hsl(204, 26%, 29%);
}
#sendButton:active{
    background-color: hsl(204, 26%, 39%);
}