.title-wrapper {
    display: flex;
    justify-content: space-between; /* Space between Global and Local titles */
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.global-title-container,
.local-title-container {
    font-family: 'Cambria', 'Times New Roman', 'Arial';
    text-align: center;
    color: white;
    padding: 15px 10px;
    font-size: large;
    cursor: default;
    background-color: hsl(204, 26%, 19%);
    user-select: none;
    height: 5vh;
    flex: 1;
    transition: background-color 0.2s ease;
}

.global-title-container:hover,
.local-title-container:hover {
    background-color: hsl(204, 26%, 29%);
}

.global-title-container:active,
.local-title-container:active {
    background-color: hsl(204, 26%, 39%);
}