.global-title-container{
    font-family: 'Cambria', 'Times New Roman', 'Arial';
    display: inline-block;
    width: fit-content;
    text-align: left;
    color: white;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    cursor: default;
    background-color: hsl(204, 26%, 19%);
    user-select: none;
}
.global-title-container:hover{
    background-color: hsl(204, 26%, 29%);
}
.global-title-container:active{
    background-color: hsl(204, 26%, 39%);
}

.local-title-container{
    font-family: 'Cambria', 'Times New Roman', 'Arial';
    display: inline-block;
    width: fit-content;
    text-align: left;
    color: white;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    cursor: default;
    background-color: hsl(204, 26%, 19%);
    user-select: none;
}
.local-title-container:hover{
    background-color: hsl(204, 26%, 29%);
}
.local-title-container:active{
    background-color: hsl(204, 26%, 39%);
}