body {
    background-color: darkslategray;
    font-family: helvetica;
}
h1{
    text-align: center;
    color: lime;
}
button{
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: lime;
    border-color: white;
    border-radius: 3px;
    border-width: 1.5px;
    width: 100px;
    height: 40px;
    background-color: black;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}
label{
    color: lime;
    margin-top: 10px;
}
#label {
    color: lime;
    margin-bottom: 10px;
}
#buttonWrapper{
    display: flex;
    gap: 10px;
}
button:hover {
    transform: scale(1.1);
}
* {
    user-select: none;
}