body {
    background-color: black;
}
.text {
    text-align: center;
    color: lime;
}
.buttonHolder {
    color: lime;
}
#clickButton {
    border-color: white;
    border-radius: 2px;
    border-width: 1.5px;
    background-color: black;
    color: lime;
    transition: transform 0.1s ease-in-out;
    width: 130px;
}
#label {
    color: lime;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
* {
    user-select: none;
}