body{
    background-color: cadetblue;
}
#skill1{
    width: 100px;
    cursor: pointer;
}
#skill2{
    width: 100px;
    cursor: pointer;
}
#skillPointDisplay{
    margin-top: auto;
    text-align: center;
}
h1{
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 0px;
}
button{
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: lime;
    border-color: white;
    border-radius: 3px;
    border-width: 1.5px;
    width: 100px;
    height: 40px;
    background-color: black;
}
button:hover{
    transform: scale(1.1);
}